html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Tahoma', sans-serif;
}

.navigation-bar {
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-right: -10px;
    margin-left: -10px;
    letter-spacing: 1px;
    word-spacing: 15px;
    font-size: 12px;
}

.title-with-coverpic {
    color: white;
    background-image: url('3990025.jpg');
    background-color: rgba(33, 103, 255, 0.9);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    padding: 60px;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -20px;
    justify-content: center;
    text-align: center;
}

.featured-items {
    margin-left: -10px;
    margin-right: -10px;
}

.featured-item-cells {
    display: inline-block;
    width: 200px; 
    height: 200px;
    color: pink; 
    border: 1px solid black;
    border-radius: 50px;
    padding: 50px;
    margin-right: 25px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 15px gray;
}

#featured-items-title {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: -10px;
}

#featured-items-list {
    padding: 25px;
    border: 1px solid black;
    text-align: center;
}
